{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="board">
        {% for category in categories %}
        
        <div class="column" id="category_{{ category.id }}">
            <div class="category-header">
                <input type="text" class="category-search" data-category="{{ category.id }}" placeholder="Search in {{ category.categorynameeng }}" onkeyup="searchCustomer(this)">
                <div class="arrow-button" onclick="toggleSort('{{ category.id }}')">
                    <!-- Up and down arrow icons for sorting -->
                    <i class="fas fa-arrow-up arrow-icon"></i>
                    <i class="fas fa-arrow-down arrow-icon"></i>
                </div>
            </div>
            <div class="cust-cat">
                <div>
                    <h5 class="mb-4 cust-d cust-d1">{{ category.categorynameeng }}</h5>
                </div>
                <div>
                    <h5 class="cust-d cust-d2">Margin {{category.margin}}%</h5>
                </div>
                <!-- Search input for this category -->
                
            </div>
            <div class="customer-list" id="customer-list-{{ category.id }}">
                {% for customer in category.customercompany_set.all %}
                <div class="customer" id="customer_{{ customer.id }}" data-category="{{ category.id }}">
                    <div>
                        <div class="customer-details">
                            {{ customer.companynameeng }}</p>
                            <i class="fas fa-grip-lines"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var ascending = true; // Initially sorting in ascending order

    function toggleSort(categoryId) {
        var order = ascending ? 'asc' : 'desc';
        sortCustomers(categoryId, order);
        ascending = !ascending; // Toggle the sorting order
    }

    function sortCustomers(categoryId, order) {
        // Get the customer list for the specified category
        var customerList = document.getElementById("customer-list-" + categoryId);
        var customers = customerList.getElementsByClassName("customer");

        // Convert HTMLCollection to Array for easier manipulation
        var customersArray = Array.from(customers);

        // Sort customers based on company name
        customersArray.sort(function(a, b) {
            var nameA = a.querySelector(".customer-details").textContent.trim().toLowerCase();
            var nameB = b.querySelector(".customer-details").textContent.trim().toLowerCase();
            if (order === 'asc') {
                return nameA.localeCompare(nameB);
            } else {
                return nameB.localeCompare(nameA);
            }
        });

        // Reorder customers in the customer list
        customerList.innerHTML = '';
        customersArray.forEach(function(customer) {
            customerList.appendChild(customer);
        });
    }

    function searchCustomer(input) {
        var filter, categoryID, customerList, customers, customer, txtValue;
        filter = input.value.toUpperCase();
        categoryID = input.getAttribute("data-category");
        customerList = document.getElementById("customer-list-" + categoryID);
        customers = customerList.getElementsByClassName("customer");
        for (var i = 0; i < customers.length; i++) {
            customer = customers[i].getElementsByClassName("customer-details")[0];
            txtValue = customer.textContent || customer.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                customers[i].style.display = "";
            } else {
                customers[i].style.display = "none";
            }
        }
    }
</script>
{% endblock %}
